# Data processing methods: manageLogTranslator.py in detail

## 1) Which python external modules are used in this project?

In [16]:
import pandas as pd # data manipulation
import numpy as np # data manipulation
import re # for checking if a string matches certain formats
import io # transforming strings to a '.csv'-like format, so we can read it to a dataframe (table)
import PySimpleGUI as sg # easily makes our GUI. This module is used in the 'logTranslatorGUI.py' file

import warnings # stops displaying some unnecessary messages
warnings.filterwarnings('ignore')

## 2) Example of input

In [17]:
# Manually naming the location of the spreadsheet, which in practice will be done by the GUI Browse & submit buttons
filename = './../Item list sample.xlsx' 

# This is an input example
my_items_string_input="""
2021-08-22 13:24:51
coins: 22920 + 5000 => 27920
ore_1: 0 + 40 => 40
ammunition_3: 79 + 30 => 109
potion_2_1: 5800 + 10 => 5810
sword_3_1: 0 + 1 => 1
shield_3_2: 0 + 1 => 1
this_item_doesnt_exist_neither_does_the_one_below: 0 + 1 => 1
12932341241: 5 + 5 => 10
"""

## 3) Code functions

In [18]:
import sys 
sys.path.append('..')

from manageLogTranslator import manageLogTranslator # this is the manageLogTranslator.py script being imported

manageLogTranslator = manageLogTranslator() # this is related to the script initialization

In [19]:
# our readMyItems reads what was input by the user and creates a 2 columns DataFrame (table) out of it.
# The columns are separated by the ':' character.
my_items = manageLogTranslator.readMyItems(my_items_string_input)
my_items

                                            Log Name                  Total
0                                2021-08-22 13:24:51                    NaN
1                                              coins  22920 + 5000 => 27920
2                                              ore_1           0 + 40 => 40
3                                       ammunition_3         79 + 30 => 109
4                                         potion_2_1      5800 + 10 => 5810
5                                          sword_3_1             0 + 1 => 1
6                                         shield_3_2             0 + 1 => 1
7  this_item_doesnt_exist_neither_does_the_one_below             0 + 1 => 1
8                                        12932341241            5 + 5 => 10

In [20]:
# here, readRealItemsTable() reads our items spreadsheet, and all relevant tabs are put into a single DataFrame
real_items_table = manageLogTranslator.readRealItemsTable(filename)
real_items_table_processed = manageLogTranslator.cleanRealItemsTable(real_items_table)
real_items_table_processed # now we have an overview of our Spreadsheet

        ID      Log Name                  English  Portuguese
0   950200    potion_1_1                    Apple         NaN
1   950201    potion_1_2                    Bread         NaN
2   950202    potion_1_3            Chocolate Bar         NaN
3   950203    potion_1_4            Piece of Cake         NaN
4   950204    potion_1_5            Vitamin Shake         NaN
5   950205    potion_2_1          Health Potion I         NaN
6   950206    potion_2_2         Health Potion II         NaN
7   950207    potion_2_3        Health Potion III         NaN
8   950208    potion_3_1            Mana Potion I         NaN
9   950209    potion_3_2           Mana Potion II         NaN
10  950210    potion_3_3          Mana Potion III         NaN
11  950211    potion_4_1  Complete Restore Potion         NaN
12  950212     sword_1_1               Iron Sword         NaN
13  950213     sword_1_2                 Iron Axe         NaN
14  950214     sword_1_3             Iron Pickaxe         NaN
15  950215     sword_2_1              Steel Sword         NaN
16  950216     sword_2_2                Steel Axe         NaN
17  950217     sword_2_3            Steel Pickaxe         NaN
18  950218     sword_3_1            Mithril Sword         NaN
19  950219     sword_3_2              Mithril Axe         NaN
20  950220     sword_3_3          Mithril Pickaxe         NaN
21  950221     sword_4_1              Oak Longbow         NaN
22  950222     sword_4_2           Willow Longbow         NaN
23  950223     sword_4_3            Magic Longbow         NaN
24  950224    shield_1_1              Iron Helmet         NaN
25  950225    shield_1_2           Iron Platebody         NaN
26  950226    shield_1_3           Iron Platelegs         NaN
27  950227    shield_1_4              Iron Shield         NaN
28  950228    shield_2_1             Steel Helmet         NaN
29  950229    shield_2_2          Steel Platebody         NaN
30  950230    shield_2_3          Steel Platelegs         NaN
31  950231    shield_2_4             Steel Shield         NaN
32  950232    shield_3_1           Mithril Helmet         NaN
33  950233    shield_3_2        Mithril Platebody         NaN
34  950234    shield_3_3        Mithril Platelegs         NaN
35  950235    shield_3_4           Mithril Shield         NaN
36  950236         ore_1                 Iron Ore         NaN
37  950237         ore_2              Mithril Ore         NaN
38  950238         ore_3                 Gold Ore         NaN
39  950239        fish_1                  Lobster         NaN
40  950240        fish_2                Swordfish         NaN
41  950241        fish_3               Anklerfish         NaN
42  950242        wood_1                 Oak Logs         NaN
43  950243        wood_2              Willow Logs         NaN
44  950244        wood_3               Magic Logs         NaN
45  950245         coins                    Coins         NaN
46  950246  ammunition_1               Oak Arrows         NaN
47  950247  ammunition_2            Willow Arrows         NaN
48  950248  ammunition_3             Magic Arrows         NaN

In [21]:
# Once we have our input as a dataframe, and our item spreadsheet as a dataframe as well,
# we can then try to match all fields from our input dataframe. The input df internal name is searched both in the
# item spreadsheet Internal Name and Item ID, and if there is a match it organizes itself. If there is no match,
# nothing changes when compared to the input table. 
# Example: the two last rows. ps: NaN stands for missing value
my_items_processed,non_identified_items = manageLogTranslator.getMyItemsFullTable(my_items, real_items_table_processed)
my_items_processed

,ID,Log Name,Total,English
0,NaN,2021-08-22 13:24:51,NaN,NaN
1,950245.0,coins,22920 + 5000 => 27920,Coins
2,950236.0,ore_1,0 + 40 => 40,Iron Ore
3,950248.0,ammunition_3,79 + 30 => 109,Magic Arrows
4,950205.0,potion_2_1,5800 + 10 => 5810,Health Potion I
5,950218.0,sword_3_1,0 + 1 => 1,Mithril Sword
6,950233.0,shield_3_2,0 + 1 => 1,Mithril Platebody
7,NaN,this_item_doesnt_exist_neither_does_the_one_below,0 + 1 => 1,NaN
8,NaN,12932341241,5 + 5 => 10,NaN

## 4) Getting our outputs

In [25]:
# once we have our processed input, we can then proceed to print our output to the Player,
# based on the selected Human language
print(manageLogTranslator.returnCautionMessage(non_identified_items) + manageLogTranslator.getPlayerFrontendLanguage(my_items_processed))

* Note: For this particular translation, the elements with no match in the spreadsheet were:

   1) 2021-08-22 13:24:51
   2) this_item_doesnt_exist_neither_does_the_one_below
   3) 12932341241

===========================================
* Translation:

2021-08-22 13:24:51
Coins: 22920 + 5000 => 27920
Iron Ore: 0 + 40 => 40
Magic Arrows: 79 + 30 => 109
Health Potion I: 5800 + 10 => 5810
Mithril Sword: 0 + 1 => 1
Mithril Platebody: 0 + 1 => 1
this_item_doesnt_exist_neither_does_the_one_below: 0 + 1 => 1
12932341241: 5 + 5 => 10

In [26]:
# based on the Report Format:
print(manageLogTranslator.returnCautionMessage(non_identified_items) + manageLogTranslator.getPlayerBackendLanguage(my_items_processed))

* Note: For this particular translation, the elements with no match in the spreadsheet were:

   1) 2021-08-22 13:24:51
   2) this_item_doesnt_exist_neither_does_the_one_below
   3) 12932341241

===========================================
* Translation:

2021-08-22 13:24:51
950245 coins: 22920 + 5000 => 27920
950236 ore_1: 0 + 40 => 40
950248 ammunition_3: 79 + 30 => 109
950205 potion_2_1: 5800 + 10 => 5810
950218 sword_3_1: 0 + 1 => 1
950233 shield_3_2: 0 + 1 => 1
this_item_doesnt_exist_neither_does_the_one_below: 0 + 1 => 1
12932341241: 5 + 5 => 10